.container {
    position: sticky;
    top: calc(58px * var(--scale));
    /* margin: 8px 0 18px 4px; */
    padding: calc(15px * var(--scale)) calc(4px * var(--scale));
    display: grid;
    z-index: var(--layer-middle);
    background: var(--color-background);
    transition: background 500ms linear;
}

/* .container::after {
    width: 100%;
    height: calc(2px * var(--scale));
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border-radius: var(--border-radius);
    background: rgba(0,0,0,0.125);
    z-index: var(--layer-top);
} */

.grid {
    display: grid;
    grid-template-columns: 8fr 1fr;
    gap: calc(5px * var(--scale));
    font-size: calc(2.5rem * var(--scale));
    font-weight: var(--font-weight-bold);
}

.grid .duration {
    display: none;
}

.noSets .grid .duration {
    display: block;
}
