.container {
    width:100%;
    height: calc(100% - 200px);
    display:grid;
    justify-items: center;
    align-items: center;
  }
  
  .containerContent {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .logo {
    flex-basis: 100%;
    display:flex;
    justify-content: center;
  }
  
  .picker {
    transform: translateY(-20px);
  }