.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    :global(.is-webapp) .container {
        grid-template-columns: 1fr;
    }
}