.container {
    padding: calc(8px * var(--scale)) 0 calc(10px * var(--scale)) calc(4px * var(--scale));
    z-index: var(--layer-bottom);
    background: var(--color-background);
    transition: background 500ms linear;
    display: block;
    position: relative;
    font-size: calc(1.6rem * var(--scale));
}

.container::after {
    width: 100%;
    height: calc(2px * var(--scale));
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border-radius: calc(var(--border-radius) * var(--scale));
    background: rgba(0,0,0,0.125);
    z-index: var(--layer-top);
}

.grid {
    display: grid;
    grid-template-columns: 8fr 1fr;
    gap: calc(5px * var(--scale));
    align-items: center;
    background: rgba(0,0,0,0.05);
    border-radius: calc(8px * var(--scale));
    padding: calc(10px * var(--scale));
}

.moveList {
    display: flex;
    width: 100%;
    flex-direction: column;
}