.container {
    animation: in 5000ms none;
}

.image {
    width: calc(400px * var(--scale));
    height:auto;
}

@keyframes in {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}