.pickerContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    --selected-routine-index: 0;
    --picker-gap: 25px;
    transform: translate3d(0,0,0);
    gap: calc(20px * var(--scale));
}

.nextButton { 
    order: 3;
    place-self: center;
    transform-origin: center;
    transform: rotate(90deg) scale(1.25);
}

.prevButton { 
    order: 1; 
    place-self: center;
    transform-origin: center;
    transform: rotate(-90deg) scale(1.25) translateY(calc(5px * var(--scale)));
}

.routineContainer { 
    order: 2;
    flex:1 0 calc(50px * var(--scale));
    overflow: hidden;
}

.routineScroller {
    --button: calc(52.5px * var(--scale));
    --gap: calc(var(--picker-gap) * var(--scale));
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    transform: translateY(calc(var(--selected-routine-index, 0) * -1 * (var(--button) + var(--gap))));
    transition: transform 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.routine {
    flex: 1 0 100%;
    display: flex;
    place-content: center;
    place-items: center;
    position: relative;
}

.routine button {
    min-width: calc(450px * var(--scale));
    text-align: center;
    font-size: calc(2.5rem * var(--scale));
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    background: rgba(0,0,0,0.125);
    border-radius: calc(8px * var(--scale));
    display: inline-block;
    padding: calc(10px * var(--scale));
    border: none;
    color: #fff;
    cursor: pointer;
}