.pickerContainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    --selected-row-index: 0;
    --picker-gap: 12px;
    gap: calc(12px * var(--scale));
    padding: calc(12px * var(--scale));;
}

@media screen and (max-width: 480px) {
    :global(.is-webapp) .pickerContainer {
        --scale: 0.75;
    }
}

.nextButton { 
    display: none;
    order: 3;
    transform-origin: center;
}

.prevButton { 
    display: none;
    order: 1; 
    transform-origin: center;
}

.routineContainer { 
    order: 2;
    flex: 1;
    overflow: hidden;
}

.routineScroller {
    --button: calc(52.5px * var(--scale));
    --gap: calc(var(--picker-gap) * var(--scale));
    --row-size: calc(95px * var(--scale));
    --y: calc(var(--selected-row-index) * -1 * var(--row-size));

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: var(--gap);
    transition: transform 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translateY(var(--y));
}

.routine button {
    width: 100%;
    text-align: center;
    font-size: calc(1.8rem * var(--scale));
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    background: rgba(0,0,0,0.125);
    padding: calc(30px * var(--scale)) calc(10px * var(--scale));
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.selected,
.routine button:hover {
    background:rgba(0,0,0,0.25);
}