.container {
    display: flex;
    flex-direction: column;
    gap: calc(5px * var(--scale));
    margin: calc(25px * var(--scale)) calc(10px * var(--scale));
    height: calc((75% - 50px) * var(--scale));
    animation: in 800ms cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
}

@keyframes in {
    from {
        opacity: 0;
        transform: scale(1.08);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes out {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(1.08);
    }
}


/* @media screen and (min-width: 480px) {
    .container {
        height: unset;
    }
} */

/* TODO: remove below for media query above */
.container {
    height: unset;
}

.container > div {
    flex: 0;
}

.container .controlsContainer {
    max-height: calc(60px * var(--scale));
}

.container .controlsContainer.centered {
    display: flex;
    place-content: center;
    position: relative;
    top: calc(10px * var(--scale));
}

.controlsInnerContainer {
    display: inline-flex;
    gap: 20px;
    background: rgba(0,0,0,0.125);
    border-radius: calc(8px * var(--scale));
    height: 100%;
    padding: calc(10px * var(--scale));
    color: white;
}

.controlsInnerContainer.hidden {
    display: none;
}

.container .mainTimerContainer {
    flex-grow: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(16rem * var(--scale));
    font-weight: var(--font-weight-bold);
}

/* @media screen and (min-width: 480px) {
    .container .mainTimerContainer {
        font-size: calc(24rem * var(--scale));
    }
} */

/* TODO: remove below for media query above */
.container .mainTimerContainer {
    font-size: calc(24rem * var(--scale));
}


.container .infoContainer {
    flex-grow: 3;
    padding: calc(10px * var(--scale)) calc(12px * var(--scale));
    position: relative;
    display: flex;
    flex-direction: column;
    gap: calc(48px * var(--scale));
    place-content: center;
}

.moveContainer {
    display: flex;
    justify-content: center;
    place-items: center;
}

.progressBar {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    /* top: calc(12px * var(--scale)); */
    display: flex;
    place-content: center;
    /* padding: 0 calc(24px * var(--scale)); */
}

/* @media screen and (min-width: 480px) {
    .progressBar {
        top: 48px;
        padding: 0 48px;
    }
} */

/* TODO: remove below for media query above */
/* .progressBar {
    top: calc(48px * var(--scale));
    padding: 0 calc(48px * var(--scale));
} */


.infoContainer::after
{
    width: 100%;
    height: calc(4px * var(--scale));
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: calc(var(--border-radius) * var(--scale));
    background: rgba(0,0,0,0.125);
    z-index: var(--layer-top);
}

.moveContainer h2 {
    font-weight: var(--font-weight-normal);
    font-size: calc(2.8rem * var(--scale));
}

/* @media screen and (min-width: 480px) {
    .moveContainer h2 {
        font-size: calc(3.2rem * var(--scale));
    }
} */

/* TODO: remove below for media query above */
.moveContainer h2 {
    font-size: calc(3.2rem * var(--scale));
}


.moveContainer .moves {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    place-items: center;
}