.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 25px 10px;
    height: calc(75% - 50px);
    animation: in 800ms cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
}

@keyframes in {
    from {
        opacity: 0;
        transform: scale(1.08);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes out {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(1.08);
    }
}


@media screen and (min-width: 480px) {
    .container {
        height: unset;
    }
}

.container > div {
    flex: 0;
}

.container .controlsContainer {
    max-height: 60px;
}

.container .controlsContainer.centered {
    display: flex;
    place-content: center;
    position: relative;
    top: 10px;
}

.controlsInnerContainer {
    display: inline-flex;
    gap: 20px;
    background: rgba(0,0,0,0.125);
    border-radius: 8px;
    height: 100%;
    padding: 10px;
    color: white;
}

.container .mainTimerContainer {
    flex-grow: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 160px;
    font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 480px) {
    .container .mainTimerContainer {
        font-size: 240px;
    }
}

.container .infoContainer {
    flex-grow: 3;
    padding: 10px 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 48px;
    place-content: center;
}

.moveContainer {
    display: flex;
    justify-content: center;
    place-items: center;
}

.progressBar {
    position: absolute;
    width: 100%;
    left: 0;
    top: 12px;
    display: flex;
    place-content: center;
    padding: 0 24px;
}

@media screen and (min-width: 480px) {
    .progressBar {
        top: 48px;
        padding: 0 48px;
    }
}

.infoContainer::before,
.infoContainer::after
{
    width: 100%;
    height: 4px;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: var(--border-radius);
    background: rgba(0,0,0,0.125);
    z-index: var(--layer-top);
}

.infoContainer::before {
    bottom: unset;
    top: 0;
}

.moveContainer h2 {
    font-weight: var(--font-weight-light);
    font-size: 28px;

}

@media screen and (min-width: 480px) {
    .moveContainer h2 {
        font-size: 32px;
    }
}

.moveContainer .moves {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    place-items: center;
}