.container {
    display:flex;
    gap: 5px;
}

.container.focused {
    font-size: 28px;
}

.reps {
    flex:0 0 26px;
}

.label {
    flex:1 0 0;
    max-width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.focused .label {
    max-width: unset;
    overflow: visible;
    text-overflow: unset;
}