.container {
    display:flex;
    place-items: center;
    gap: calc(5px * var(--scale));
}

.container.focused {
    font-size: calc(2.8rem * var(--scale));
    gap: calc(12px * var(--scale));
}

.reps {
    flex:0 0 calc(26px * var(--scale));
    font-size: calc(1.2rem * var(--scale));
    padding-right: calc(4px * var(--scale));
    font-weight: var(--font-weight-light);
}

.equipment {
    width: calc(20px * var(--scale));
    height: calc(20px * var(--scale));
    padding: calc(4px * var(--scale));
    background: rgba(0,0,0,0.125);
    border-radius: calc(4px * var(--scale));
    display: flex;
    place-items: center;
    place-content: center;
}

.label {
    flex:1 0 0;
    max-width: calc(240px * var(--scale));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.focused .label {
    min-width: calc(400px * var(--scale));
    text-align: center;
    max-width: unset;
    overflow: visible;
    text-overflow: unset;
}

.focused .reps {
    font-size: calc(2rem * var(--scale));
    padding-right: 0;
}

.focused .equipment {
    width: calc(30px * var(--scale));
    height: calc(30px * var(--scale));
}