:root {
  --color-background-recovery: #2BD0FC;
  --color-background-active: #E50850;
  --color-background-circuit-recovery: #CDBD14;
  --color-background-default: #9672FC;
  --color-background-warmup: var(--color-background-default);
  --color-background-cooldown: var(--color-background-default);
  --color-background-complete: var(--color-background-default);

  --color-background: var(--color-background-default);

  --font-family: var(--font-dm-sans);
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 900;
  --font-size-normal: 62.5%;
  --font-color: white;
  --border-radius: 10px;

  --layer-top: 1000;
  --layer-middle: 100;
  --layer-bottom: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--color-background);
  transition: background 500ms linear;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);
  color: var(--font-color);
}